<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header" id="location_name">
        <img id="weather_icon" src="<%= icon %>" alt="Not found!">
        <%= location_name %>
    </div>
    <div class="card-body">
        <p class="card-text" id="location_data">
            <%= location_data %>
        </p>
    </div>
</div>
