<div class="card">
    <div class="content">
        <img class="right floated mini ui image" src="<%= icon %>">
        <div class="header">
            <%= location_name %>
        </div>
        <div class="meta">
            <%= location_celsius %>
        </div>
        <div class="description">
            <%= location_data %>
        </div>
    </div>
    <div class="extra content">
        <div class="ui">
            <div class="ui basic red button">Remove</div>
        </div>
    </div>
</div>
