<footer class="footer fixed-bottom" style="background-color: #3f51b5;">
    <div class="container">
        <span>Fulfilness is build on NodeJS with <i class="far fa-heart" style="color:red;"></i></span>
    </div>
</footer>