<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3f51b5;">
    <div class="container">
      <a class="navbar-brand" style="font-family: 'Dancing Script',cursive; " href="/" style="outline: none">
        <!-- <img src="https://www.google.com/favicon.ico" width="40" height="40" class="d-inline-block align-top" alt=""> -->
        Fulfilness</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav" id="right-nav">
          <li class="nav-item">
            <a class="nav-link" href="/" style="outline: none"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback" style="outline: none"><i class="far fa-comments"></i>&nbsp;&nbsp;Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="outline: none"><i class="far fa-question-circle"></i>&nbsp;&nbsp;About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donate" style="outline: none"><i class="far fa-heart"></i>&nbsp;&nbsp;Donate</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>
</header>
