<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    <% include partials/extras.ejs %>

</head>
<% include partials/header.ejs %>

    <body>
        <div class="container" style="margin-top:40px">
            <h1>Hello there, Welcome to About page.</h1>
        </div>

    </body>

    <% include partials/footer.ejs %>

        <script>
            (function() {
                $('.nav-item:eq(3)').addClass('active');
            })();

        </script>

</html>
