<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Browser theme color -->
    <meta name="theme-color" content="#3f51b5">
    <meta name="msapplication-navbutton-color" content="#3f51b5">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3f51b5">

    <title>Fulfilness - NodeJS Loaded</title>

    <% include partials/extras.ejs %>
</head>

<body>

    <% include partials/header.ejs %>

        <div id="home_content">
            <p><b>Fulfilness</b> is the motive to make the NodeJS project a simple working python project.</p>

            <!--            <form id="form" class="form form-horizontal" method="get" onsubmit="">-->
            <div class="form-row" style="justify-content: center;">
                <div class="form-group col-md-4">
                    <input type="text" id="location_input" class="form-control typeahead" placeholder="Enter the location or click on location button to check weather" autocomplete="off" autofocus>
                </div>
                <div class="form-group col-md-2" style="text-align: center;">
                    <button id="submit_location" class="ui primary button torrentic-blue" style="width: 70%; display: inline;padding: .5rem .75rem; font-size: 1rem; line-height: 1.25;  font-weight: 400;">
            Search
          </button>
                </div>

                <div class="form-group col-md-1" style="text-align: center;">
                    <button id="get_location_button" class="ui black button" style="width: 100%; display: inline;padding: .5rem .75rem; font-size: 1rem; line-height: 1.25;  font-weight: 400;">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Get Location
          </button>
                </div>
            </div>

            <!--            </form>-->

        </div>

        <div class="ui cards container" id="added_locations" style="margin-top:30px;">
        </div>

        </div>

</body>

<script type="text/javascript" href="js/firebase_api.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script>
    (function() {
        $('.nav-item:eq(1)').addClass('active');
    })();
</script>

<!-- footer.html -->
<% include partials/footer.ejs %>



</html>
