<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Browser theme color -->
  <meta name="theme-color" content="#3f51b5">
  <meta name="msapplication-navbutton-color" content="#3f51b5">
  <meta name="apple-mobile-web-app-status-bar-style" content="#3f51b5">

  <title>Fulfilness - Django Loaded</title>
  <link rel="shortcut icon" type="image/png" href="https://www.google.com/favicon.ico" />

  <!-- bootstrap css CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'first_app/css/custom.css' %}" type="text/css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- semantic css CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>

  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <!-- material icons Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <!-- Navigation bar -->
  <!-- TODO: ADD header.html -->
  {% include "first_app/header.html" %}

  <div id="home_content">
    <p><b>Fulfilness</b> is the motive to make the Django project a simple working python project.</p>


    <!-- <form class="form" method="get"> -->
    <div class="form-row" style="justify-content: center;">
      <div class="form-group col-md-4">
        <input type="text" id="query" class="form-control typeahead" placeholder="Enter the location or click on location button to check weather" autocomplete="off">
      </div>
      <div class="form-group col-md-2" style="text-align: center;">
        <button id="btn-submit1" class="ui primary button torrentic-blue" style="width: 70%; display: inline;padding: .5rem .75rem; font-size: 1rem; line-height: 1.25;  font-weight: 400;">
          Search
        </button>
      </div>
      <!-- </form> -->

      <div class="form-group col-md-1" style="text-align: center;">
        <button id="get_location_button" class="ui black button" style="width: 100%; display: inline;padding: .5rem .75rem; font-size: 1rem; line-height: 1.25;  font-weight: 400;">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Get Location
        </button>
      </div>
    </div>

  </div>

  <div class="container" style="margin-top:30px;">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">ALERT LOCATION!</div>
      <div class="card-body">
        <p class="card-text" id="location_info">Location info here.</p>
      </div>
    </div>

    <!-- <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div> -->
  </div>


</body>

<!-- footer.html -->
{% include "first_app/footer.html" %}

<script>
  $("#get_location_button").click(function() {
    $("#get_location_button").addClass('loading');
    getLocation();
  });

  function getLocation() {
    if (navigator.geolocation) {
      var timeoutVal = 10 * 1000 * 1000;
      navigator.geolocation.getCurrentPosition(
        displayPosition,
        displayError, {
          enableHighAccuracy: true,
          timeout: timeoutVal,
          maximumAge: 0
        }
      );
    } else {
      alert("Geolocation is not supported by this browser");
    }

    function displayPosition(position) {
      $("#location_info").text("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);
      $("#get_location_button").removeClass('loading');
    }

    function displayError(error) {
      switch (error.code) {
        case error.PERMISSION_DENIED:
          alert("User denied the request for Geolocation.");
          break;
        case error.POSITION_UNAVAILABLE:
          alert("Location information is unavailable.");
          break;
        case error.TIMEOUT:
          alert("The request to get user location timed out.");
          break;
        case error.UNKNOWN_ERROR:
          alert("An unknown error occurred.");
          break;
      }
      $("#get_location_button").removeClass('loading');
    }
  }
</script>

</html>
